<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exito</title>
    <script type="text/javascript">
        // Esta función cerrará la ventana después del tiempo especificado
        function cerrarVentana() {
            setTimeout(function() {
                window.close();
            }, 1000); // 10000 milisegundos = 10 segundos
        }
    </script>
</head>
<body onload="cerrarVentana()">
    <h1>Tickets impresos con exito</h1>
</body>
</html>